.form-container {
	width: 500px;
	padding: 46px;
	border-radius: 10px;
	margin: 50px auto;
	background-color: #a9a5a5;
  }
  
  .form-container h1 {
	margin-top: -10px;
  }
  
  .form-row {
	display: flex;
	justify-content: space-between;
  }
  
  .form-column {
	width: 48%;
  }
  
  .form-group {
	margin-bottom: 15px;
	/* margin-inline: 5px; */
  }
  
  .form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
	width: 100%;
	padding-right: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color: #f6f6f6;
	text-align: center;
  }
  
  .btn-submit {
	width: 100%;
	padding: 8px 16px;
	margin-top: 32px;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: #000;
  }
  
  .btn-submit:hover {
	cursor: pointer;
  }
  
  .msg-error {
	color: red;
	text-align: left;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	width: 100%;
  }
  
  .selected-countries-container {
	margin-top: 20px;
	background-color: #929092dd;
	padding: 10px;
	border-radius: 3px;
  }
  
  .selected-countries-container h3 {
	margin: 0;
  }
  
  .country-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 5px 0;
  }
  
  .country-container span {
	margin-right: 5px;
  }
  
  .country-container input[type="button"] {
	background-color: #b04f4f;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	width: 30px;
  }
  
  .country-container input[type="button"]:hover {
	background-color: #be3c3c;
  }
  