.ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0 auto;
    padding: 7px;
    background-color: #591E34
}

.li {
    margin: 1rem;
}

.container {
    margin: 0.6rem;
    margin-top: 0.5rem;
    color: #193140;
    text-decoration: none;
    background-color: #f2e0dce7;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container:hover {
    background-color: #da5989e3;
    transform: scale(1.1);
}

.current {
    background-color: #F27999;
    transform: scale(1.1);
}